name: Debug Terminal
on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run with tmate'
        type: boolean
        required: false
        default: true

jobs:
  terminal:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup tmate session
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        uses: mxschmitt/action-tmate@v3
        with:
          # This ensures ONLY you can connect via SSH
          limit-access-to-actor: true
