name: Ubuntu RDP
on: workflow_dispatch

jobs:
  rdp-access:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{kgeUyryQDy11CNTRL}}

      - name: Setup Desktop & RDP
        run: |
          sudo apt-get update
          # Install lightweight desktop and RDP server
          sudo apt-get install -y xfce4 xfce4-goodies xrdp
          
          # Fix for Ubuntu RDP login
          echo "xfce4-session" > ~/.xsession
          sudo adduser xrdp ssl-cert
          
          # Set the password for the 'runner' user
          echo "runner:YourSecurePassword123!" | sudo chpasswd
          
          sudo systemctl restart xrdp
          echo "Success! VM is ready."

      - name: Keep Alive
        run: sleep 3600
          
